@model  BattleReport
@{
    ViewData["Title"] = "AcceptUnconfirmedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <h2 class="text-info">Accept Unconfirmed Battle Report</h2>
    <hr />
    <h5 class="text-info">Report Details</h5>
    <partial name="_UnconfirmedBattleReportDetails" model="@Model" />
    <hr />
    <div class="form-group row">
        <div class="col-12 col-md-4">
            <a asp-action="AcceptUnconfirmed" asp-route-id="@Model.Id" class="btn btn-info form-control mb-1">Confirm Battle Report</a>
        </div>
        <div class="col-12 col-md-4">
            <a asp-action="UnconfirmedBattleReports" asp-route-id="@User.Identity.Name" class="btn btn-success form-control">Back to List</a>
        </div>
    </div>
</div>