@model ThemeViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!String.IsNullOrWhiteSpace(Model.StatusMessage))
{
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
}

<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Theme.Id">
    <div class="border applicationFormGroup">
        <h2 class="text-info">Delete Theme</h2>
        <br />
        <div class="form-group row">
            <div class="col-md-2 col-sm-12">
                <label asp-for="Theme.Faction.Name" class="col-form-label">Faction</label>
            </div>
            <div class="col-md-10 col-sm-12">
                <input asp-for="Theme.Faction.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-sm-12">
                <label asp-for="Theme.Name" class="col-form-label"></label>
            </div>
            <div class="col-md-10 col-sm-12">
                <input asp-for="Theme.Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 col-sm-12 offset-md-2">
                <partial name="_DeleteAndBackToListButtons" />
            </div>
        </div>
    </div>
</form>