@model ThemeResultsViewModel
@{
    ViewData["Title"] = "Themes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <h2 class="text-info">Theme Results</h2>
    <br />
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <label asp-for="@Model.Faction">Select Faction: </label>
            <select id="selectFaction" asp-for="@Model.Faction" asp-items="Model.FactionOptions.Select(x => new SelectListItem() { Value = x, Text = x, Selected = x == Model.Faction }).ToList()" class="form-control"></select>
            <a id="loadThemes" class="btn btn-primary form-control mt-1" href="@string.Concat("/EndUser/Statistics/Themes/", Model.Faction)">Load Results</a>
        </div>
    </div>
    <br />
    @if (Model.ThemeResults.Count() == 0)
    {
        <p>There are no themes in the database.</p>
    }
    else
    {
        <hr />
        int counter = 1;
        @foreach (ThemeResult themeResult in Model.ThemeResults)
        {
            themeResult.ListPosition = counter;
            <partial name="_ThemeDetails" model="@themeResult" />
            counter = counter + 1;
            <hr />
        }
    }
</div>

@section Scripts {
    <script>
        $("#selectFaction").change(function () {
            $("#loadThemes").attr('href', '/EndUser/Statistics/Themes/' + this.value);
        });
    </script>
}