@model UserResultsViewModel
@using WebAppWMHBattleReporter.Utility
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <h2 class="text-info">User Results</h2>
    <br />
    <div class="row">
        <div class="col-4-col-lg-3">
            <label asp-for="@Model.Region">Select Region: </label>
            <select id="selectRegion" asp-for="@Model.Region" asp-items="StaticDetails.AllAndRegions.Select(x => new SelectListItem() { Value = x, Text = x }).ToList()" class="form-control"></select>
            <a id="loadRegion" class="btn btn-primary form-control mt-1" href="/EndUser/Statistics/Users">Load Results</a>
        </div>
    </div>
    <br />
    @if (Model.UserResults.Count() == 0)
    {
        @if (Model.Region == StaticDetails.AllRegions)
        {
            <p>There are no users in the databse.</p>
        }
        else
        {
            <p>There are no users in the database from @Model.Region.</p>
        }
    }
    else
    {
        <hr />
        int counter = 1;
        @foreach (UserResult userResult in Model.UserResults)
        {
            userResult.ListPosition = counter;
            <partial name="_UserDetails" model="@userResult" />
            counter = counter + 1;
            <hr />
        }
    }
</div>

@section Scripts {
    <script>
        $("#selectRegion").change(function () {
            $("#loadRegion").attr('href', '/EndUser/Statistics/Users/' + this.value);
        });
    </script>
}