@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row applicationFormGroup border">
    <div class="col-12">
        <h1 class="text-info">@ViewData["Title"]</h1>
    </div>
    
    <div class="col-12">
        Please check your email to reset your password.
    </div>
</div>
