@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="border applicationFormGroup row">
        <div class="col-12">
            <h1 class="text-info">@ViewData["Title"]</h1>
        </div>
        <div class="col-12">
            <p>You have successfully logged out of the application.</p>
        </div>
    </div>
</header>