@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="border applicationFormGroup row">
    <div class="col-12">
        <h1 class="text-info">@ViewData["Title"]</h1>
    </div>
    <div class="col-12">
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>